<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--browser related-->
		<meta name="viewport" content="width=device-width, inital-scale=1"> <!--decide how the page is loaded on mobile devices-->
		<title>Allen Zhang</title>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<img class="title-logo img-responsive" src="images/logo300x300.png" alt="Logo">
				</div>
				<div class="col-md-10 text-right text-uppercase">
					<h1 class="title text-thin">Allen Zhang</h1>
					<h4>Computer Science Major at UofT</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<img class="img-responsive" src="images/front-main.jpg" alt="front-main">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-muted">Featured Work</h2>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-4">
					<img class="img-responsive" src="images/mobile-dev.jpg" alt="mobile-dev">
					<h3 class="subtitle text-uppercase ">Mobile Development</h3>
				</div>
				<div class="col-md-4">
					<img class="img-responsive" src="images/web-dev.jpg" alt="web-dev">
					<h3 class="subtitle text-uppercase">Web Development</h3>
				</div>
				<div class="col-md-4">
					<img class="img-responsive" src="images/miscellaneous.jpg" alt="miscellaneous">
					<h3 class="subtitle text-uppercase">Miscellaneous</h3>
				</div>
			</div>
		</div>
	</body>
</html>